@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>First registered user will be admin.</li>
        <li>Other will be just only user</li>
        <li>An admin can control User access.</li>
        <li>Any registered user can add new todolist & todolist items</li>
        <li>deleted list will be in trash list</li>
        <li>todolistitem can be add, delete(permanently), update(is completed or not)</li>
        <li>todolist will be visible(can retrive) only to list creator.</li>
    </ul>
    <blockquote>2021 &copy;Sudhananda Biswas <a href="https://github.com/madcoderBubt"><i class="fab fa-github"></i> GitHub</a></blockquote>
</div>
